
/* reset.css  
 	一般用于将一些公用样式整理在一起
 */

* {
	margin: 0;
	padding: 0;
}


.fl_l {
	float: left;
}

.fl_r {
	float: right;
}





/* clearfix 代表清除浮动*/
/* ::after 伪元素，代表在元素的内部的最后增加1个元素 */
.clearfix::before,
.clearfix::after {
	content: "";    /* 内容为空 */
	clear: both;    /* 清除浮动， 因为我们当前元素是行内元素 */
	display: block;  /* 使清除浮动产生作用 */		
	visibility: hidden;  /* 隐藏 */
}
			

