
.box {
	width: 200px;
	height: 200px;
	margin: 50px auto;
	position: relative;
	
	border: 1px dashed red;
	
	/* 使物体变成3D效果, 让里面子元素有3D空间 */
	transform-style: preserve-3d;


	/* 为了看到3D效果，将整个物体旋转一定角度 */
	transform: rotateX(30deg) rotateY(30deg);
}

div {
	width: 200px;
	height: 200px;
	

	border: 1px solid purple;
	
	position: absolute;
	left: 0;
	top: 0;
}

.up {
/*	transform: rotateX(90deg) translateZ(100px);*/
	transform: translateY(-100px) rotateX(90deg) ;
}

.down {
/*	transform: rotateX(90deg) translateZ(100px);*/
	transform: translateY(100px) rotateX(-90deg) ;
}


.before {
	transform: translateZ(-100px);
}


.after {
	transform: translateZ(100px);
}

.left {
	transform: translateX(-100px) rotateY(90deg) ;
}

.right {
	transform: translateX(100px) rotateY(-90deg) ;
}